# dbt
target/
dbt_packages/
logs/
*.db

# Environment
ecom_venv/
dbt_clean/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sensitive files
profiles.yml
*.key
*.pem

# Data files
dbt_ecommerce/data/
*.csv

# dbt internal packages
dbt_internal_package/
.dbt/
dbt_internal_packages/
